<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Will You Go on a Date With Me?</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>❤️ Hi Lipsa ❤️</h1>

    <h2>Would you like to go on a date with me? 🌹</h2>

    <form action="/food" method="POST">

        <label>Select a date:</label>

        <br><br>

        <input type="date" name="date" required>

        <br><br><br>

        <button type="submit">
            Yes ❤️
        </button>

    </form>

    <br>

    <button onclick="showMessage()">
        No 🌸
    </button>

    <p id="message"></p>

</div>

<script>
function showMessage(){
    document.getElementById("message").innerHTML =
    "❤️ Thank you for being honest. Wishing you happiness always.";
}
</script>

<div class="hearts">
    <span>❤️</span>
    <span>💖</span>
    <span>💕</span>
    <span>💗</span>
    <span>🌹</span>
    <span>❤️</span>
</div>
<audio id="bgMusic" loop>
    <source src="{{ url_for('static', filename='music/perfect.mp3') }}" type="audio/mpeg">
</audio>

<button id="musicBtn" onclick="toggleMusic()">
    🎵 Play Music
</button>

<script src="{{ url_for('static', filename='script.js') }}"></script>
<footer style="text-align:center;padding:20px;color:white;">
Made with ❤️ by Deepak
</footer>
</body>
</html>